.flex {
    margin: 40px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 250px 250px 250px;
    grid-auto-rows: 380px;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: #fafafa;
    font-size: 24px;
}

.button:hover {
    background-color: #f300b4;
}

.card {
    
    width: 300px;
    height: 380px;
    cursor: pointer;
}